   <h1> contact us</h1>
    <p>ini halaman contact us</p>
    <div class="row">
        <div class="col-sm-6">
<h2>Gmail</h2>
<div class=fieldss style="border: solid  black 2px; width: 700px;">restokel6@gmail.com</div>
<h2>nama</h2>
<div class=fieldss style="border: solid  black 2px; width: 700px;">kelompok 6</div>
<h2>whatsapp</h2>
<div class=fieldss style="border: solid  black 2px; width: 700px;">08999992929</div>
<h2>tempat</h2>
<div class=fieldss style="border: solid  black 2px; width: 700px;">jln jendral soedirman no 6</div>
<h2></h2>
<div class=fieldss style="border: solid  black 2px; width: 700px;">jln jendral seodriamn no 7</div>
</div>

<img src="../images/resto.jpeg" width="100%" height="200px">
</div>