
<style>
    table, th, td {
    border:1px solid black;
    width: 600px;
    }
    th{
        background-color: grey;
    }
    td{
        background-color: whitesmoke;
    }
    .bodypar{
        margin-left: 40px;
    }
    </style>
    <div class="bodypar">
    <h1>Reservasi</h1>
    <p>Ini halaman reservasi, menampilkan daftar reservasi di restoran kelompok 6</p>
    <table>
        <tr>
            <th>Nama</th>
            <th>Tanggal</th>
            <th>Waktu</th>
            <th>Jumlah orang</th>
        </tr>
        <% reservasi.forEach(data => { %>
            <tr>
                <td><%= data.nama %></td>
                <td><%= data.tanggal %></td>
                <td><%= data.waktu %></td>
                <td><%= data.jumlahOrang %></td>
            </tr>
        <% }) %>
    </table>
    </div>
